@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
    margin: 10px;
    padding: 0;
    font-weight: 100;
    font-size: normal;
}

h1 {
    font-family: "Open Sans", sans-serif;
    color: #333;
}


.popular-topics-bar {
    padding: 10px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ddd;
    text-align: center;
    margin-bottom: 20px; /* Add some space below the bar */
}
.popular-topics-bar span {
    font-weight: bold;
    margin-right: 15px;
}
.popular-topics-bar a {
    margin: 0 8px; /* Add some horizontal margin between links */
    text-decoration: none;
    color: black;
    padding: 5px 10px; /* Add some padding to make links easier to click */   
    border-radius: 4px; /* Optional: rounded corners for links */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}
.popular-topics-bar a:hover {
    text-decoration: none; /* Remove underline on hover if you prefer */
    background-color: #e9ecef; /* Light background on hover */
    color: #e06830; /* Darker text on hover */
}


.home-feed {
    margin: 20px auto; /* Centering the feed */
    max-width: 800px; /* Limiting width for better readability */
    padding: 0 15px; /* Padding on the sides */
}
.home-feed h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

.home-feed div {
    margin-bottom: 20px; /* Space between posts */
    padding: 15px;
    border-radius: 8px;
    background-color: #e1e1e1;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.home-feed div:hover {
    background-color: #e06830; /* Light background on hover */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Slight shadow on hover */
}

.home-feed a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
.home-feed a:hover {
    text-decoration: none;
    color: black;
}


.post-preview h3 {
    margin-top: 0;
    margin-bottom: 10px;
}


.post-preview {
    border: 1px solid #e0e0e0;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.post-preview .post-meta {
    font-size: 0.85em;
    color: #555;
    margin-bottom: 10px;
}



